
@import url(./abstracts/_variables.scss);
@import "~bootstrap/scss/bootstrap";

body::before {
    display: block;
    content: " "
   // height: 60px;
}

@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}
