
@import "./abstracts/_variables.scss";
//create own map
//@import "./abstracts/custom-bs"

//@import "~/bootstrap/scss/functions";
//@import "~/bootstrap/scss/maps";
//@import "~/bootstrap/scss/mixins";


//merge the maps
@import "~bootstrap/scss/bootstrap";


body::before {
    display: block;
    content: " "
   // height: 60px;
}

@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}


#map {
    width: 100%;
    height: 100%;
    border-radius: 10px; 
}

.inline {
    display: inline;
}