doctype html 
html(lang="en")
    head 
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="IE=7")
        link(rel="stylesheet", href="./assets/scss/main.css")
        title Frontend Bootcamp
        link(rel="stylesheet", href="./assets/scss/main.scss")

    body 
        nav.navbar.navbar-expand-lg.bg-dark.navbar-dark.fixed-top
            div.container.py-3
                a.navbar-brand(href="#") Frontend Bootcamp
                button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navmenu")
                    span.navbar-toggler-icon
                div#navmenu.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href="#learn") What You'll Learn
                        li.nav-item
                            a.nav-link(href="#questions") Questions
                        li.nav-item
                            a.nav-link(href="#instructors") Instructors
        section.bg-dark.text-light.p-5.p-lg-0.pt-lg-5.textcenter.text-sm-start
            .container
                .d-sm-flex.align-items-center.justify-content-between
                    div
                        h1 Become a 
                            span.text-warning Web Developer
                        p.lead.my-4.
                            We focus on teaching our students the fundamentals of the latest and greatest technologies to prepare them for their first dev role
                        button.btn.btn-primary.btn-lg Start the Enrollment
                    img.img-fluid.w-50.d-none.d-sm-block(src="./assets/img/showcase.svg", alt="")
        //- newsletter
        section.bg-primary.text-light.p-5
            .container
                .d-md-flex.justify-content-between.align-items-center
                    h3.mb-3.mb-md-0 Sign Up for Our Newsletter

                    .input-group.news-input
                        input.form-control(type="text" placeholder="Enter Email")
                        button.btn.btn-dark.btn-lg(type="button") Sign Up

        //- bboxes 
        section.p-5
            div.container
                div.row.text-center.g-4
                    div.col-md
                        div.card.bg-dark.text-light
                        div.card-body.text-center
                            div.h1.mb-3
                                i.bi.bi-laptop
                            h3.card-title.mb-3 Virtual
                            p.card-text.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, obcaecati.
                            a.btn.btn-primary(href="#") Read More 
                    div.col-md
                        div.card.bg-secondary.text-light
                        div.card-body.text-center
                            div.h1.mb-3
                                i.bi.bi-person-square
                            h3.card-title.mb-3 Hybrid
                            p.card-text.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, obcaecati.
                            a.btn.btn-dark(href="#") Read More 
                    div.col-md
                        div.card.bg-dark.text-light
                        div.card-body.text-center
                            div.h1.mb-3
                                i.bi.bi-people
                            h3.card-title.mb-3 In Person
                            p.card-text.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, obcaecati.
                            a.btn.btn-primary(href="#") Read More 
        section#learn.p-5
            .container.row.align-items-center.justify-content-between
                .col-md
                    img.img-fluid(src="./assets/img/fundamentals.svg", alt="")
                .col-md.p-5
                    h2 Learn The Fundamentals
                    p.lead. 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus enim asperiores vitae, assumenda maxime ullam!
                    a.btn.btn-primary.mt-3(href="#") Read More
                        i.bi.bi-chevron-right
        section#learn.p-5.bg-dark.text-light
            .container.row.align-items-center.justify-content-between
                .col-md.p-5
                    h2 Learn React
                    p.lead. 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus enim asperiores vitae, assumenda maxime ullam!
                    a.btn.btn-light.mt-3(href="#") Read More
                        i.bi.bi-chevron-right
                .col-md
                    img.img-fluid(src="./assets/img/react.svg", alt="")
        //- question accordion
        section#questions.p-5

        script(type="module" src="./assets/js/main.js")

