doctype html 
html(lang="en")
    head 
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="IE=7")
        link(rel="stylesheet", href="./assets/scss/main.css")
        title Frontend Bootcamp
        link(rel="stylesheet", href="./assets/scss/main.scss")
        link(href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js")
        link(href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css")

    body 
        nav.navbar.navbar-expand-lg.bg-dark.navbar-dark.fixed-top
            div.container.py-3
                a.navbar-brand(href="#") Frontend Bootcamp
                button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navmenu")
                    span.navbar-toggler-icon
                div#navmenu.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href="#learn") What You'll Learn
                        li.nav-item
                            a.nav-link(href="#questions") Questions
                        li.nav-item
                            a.nav-link(href="#instructors") Instructors
        section.bg-dark.text-light.p-5.p-lg-0.pt-lg-5.textcenter.text-sm-start
            .container
                .d-sm-flex.align-items-center.justify-content-between
                    div
                        h1 Become a 
                            span.text-warning Web Developer
                        p.lead.my-4.
                            We focus on teaching our students the fundamentals of the latest and greatest technologies to prepare them for their first dev role
                        button.btn.btn-primary.btn-lg(data-bs-toggle="modal" data-bs-target="#enroll") Start the Enrollment
                    img.img-fluid.w-50.d-none.d-sm-block(src="./assets/img/showcase.svg", alt="")

        section.bg-primary.text-light.p-5
            .container
                .d-md-flex.justify-content-between.align-items-center
                    h3.mb-3.mb-md-0 Sign Up for Our Newsletter

                    .input-group.news-input
                        input.form-control(type="text" placeholder="Enter Email")
                        button.btn.btn-dark.btn-lg(type="button") Sign Up


        section.p-5
            div.container
                div.row.text-center.g-4
                    div.col-md
                        div.card.bg-dark.text-light
                        div.card-body.text-center
                            div.h1.mb-3
                                i.bi.bi-laptop
                            h3.card-title.mb-3 Virtual
                            p.card-text.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, obcaecati.
                            a.btn.btn-primary(href="#") Read More 
                    div.col-md
                        div.card.bg-secondary.text-light
                        div.card-body.text-center
                            div.h1.mb-3
                                i.bi.bi-person-square
                            h3.card-title.mb-3 Hybrid
                            p.card-text.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, obcaecati.
                            a.btn.btn-dark(href="#") Read More 
                    div.col-md
                        div.card.bg-dark.text-light
                        div.card-body.text-center
                            div.h1.mb-3
                                i.bi.bi-people
                            h3.card-title.mb-3 In Person
                            p.card-text.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, obcaecati.
                            a.btn.btn-primary(href="#") Read More 
        section#learn.p-5
            .container.row.align-items-center.justify-content-between
                .col-md
                    img.img-fluid(src="./assets/img/fundamentals.svg", alt="")
                .col-md.p-5
                    h2 Learn The Fundamentals
                    p.lead. 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus enim asperiores vitae, assumenda maxime ullam!
                    a.btn.btn-primary.mt-3(href="#") Read More
                        i.bi.bi-chevron-right
        section#learn.p-5.bg-dark.text-light
            .container.row.align-items-center.justify-content-between
                .col-md.p-5
                    h2 Learn React
                    p.lead. 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus enim asperiores vitae, assumenda maxime ullam!
                    a.btn.btn-light.mt-3(href="#") Read More
                        i.bi.bi-chevron-right
                .col-md
                    img.img-fluid(src="./assets/img/react.svg", alt="")
        //- question accordion
        section#questions.p-5
            div.container
                h2.text-center.mb-4 Frequently Asked Questions
                div#questions.accordion.accordion-flush
                    div.accordion-item
                        h2#flush-heading-1.accordion-header
                            button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="question-1") Where exactly are you located?
                        div#question-1.accordion-collapse.collapse(data-bs-parent="questions")
                            .accordion-body.
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, tenetur cumque. Placeat iure laudantium nisi. Ipsa, vero! Qui, magnam consectetur.
                    div.accordion-item
                        h2#flush-heading-2.accordion-header
                            button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="question-2") How much does it cost to attend?
                        div#question-2.accordion-collapse.collapse(data-bs-parent="questions")
                            .accordion-body.
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, tenetur cumque. Placeat iure laudantium nisi. Ipsa, vero! Qui, magnam consectetur.
                    div.accordion-item
                        h2#flush-heading-3.accordion-header
                            button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="question-3") What do I need to know?
                        div#question-3.accordion-collapse.collapse(data-bs-parent="questions")
                            .accordion-body.
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, tenetur cumque. Placeat iure laudantium nisi. Ipsa, vero! Qui, magnam consectetur.
                    div.accordion-item
                        h2#flush-heading-4.accordion-header
                            button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="question-4") How do I sign up?
                        div#question-4.accordion-collapse.collapse(data-bs-parent="questions")
                            .accordion-body.
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, tenetur cumque. Placeat iure laudantium nisi. Ipsa, vero! Qui, magnam consectetur.
                    div.accordion-item
                        h2#flush-heading-4.accordion-header
                            button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="question-5") Do you help me find a job?
                        div#question-4.accordion-collapse.collapse(data-bs-parent="questions")
                            .accordion-body.
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, tenetur cumque. Placeat iure laudantium nisi. Ipsa, vero! Qui, magnam consectetur.
        section#instructors.p-5.bg-primary
            div.container
                h2.text-center.text-white Our Instructors
                p.lead.text-center.text-white.mb-5.
                    Our Instructors all have 5+ years working as a web developer in the industry.
                div.row.g-4
                    div.col-md-6.col-lg-3
                        .card.bg-light  
                            div.card-body.text-center
                                img.rounded-circle.mb-3(src="https://randomuser.me/api/portraits/women/9.jpg", alt="")
                                h3.card-title.mb-3 Jane Doe 
                                p.card-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae culpa illum reprehenderit aperiam, molestiae ratione.
                                a.i.bi.bi-twitter.text-dark.mx-1(href="#") 
                                a.i.bi.bi-facebook.text-dark.mx-1(href="#") 
                                a.i.bi.bi-linkedin.text-dark.mx-1(href="#") 
                                a.i.bi.bi-instagram.text-dark.mx-1(href="#") 
                    div.col-md-6.col-lg-3
                        .card.bg-light  
                            div.card-body.text-center
                                img.rounded-circle.mb-3(src="https://randomuser.me/api/portraits/men/11.jpg", alt="")
                                h3.card-title.mb-3 John Doe 
                                p.card-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae culpa illum reprehenderit aperiam, molestiae ratione.
                                a.i.bi.bi-twitter.text-dark.mx-1(href="#") 
                                a.i.bi.bi-facebook.text-dark.mx-1(href="#") 
                                a.i.bi.bi-linkedin.text-dark.mx-1(href="#") 
                                a.i.bi.bi-instagram.text-dark.mx-1(href="#") 
                    div.col-md-6.col-lg-3
                        .card.bg-light  
                            div.card-body.text-center
                                img.rounded-circle.mb-3(src="https://randomuser.me/api/portraits/women/14.jpg", alt="")
                                h3.card-title.mb-3 Jill Doe 
                                p.card-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae culpa illum reprehenderit aperiam, molestiae ratione.
                                a.i.bi.bi-twitter.text-dark.mx-1(href="#") 
                                a.i.bi.bi-facebook.text-dark.mx-1(href="#") 
                                a.i.bi.bi-linkedin.text-dark.mx-1(href="#") 
                                a.i.bi.bi-instagram.text-dark.mx-1(href="#") 
                    div.col-md-6.col-lg-3
                        .card.bg-light  
                            div.card-body.text-center
                                img.rounded-circle.mb-3(src="https://randomuser.me/api/portraits/men/8.jpg", alt="")
                                h3.card-title.mb-3 Bob Doe 
                                p.card-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae culpa illum reprehenderit aperiam, molestiae ratione.
                                a.i.bi.bi-twitter.text-dark.mx-1(href="#") 
                                a.i.bi.bi-facebook.text-dark.mx-1(href="#") 
                                a.i.bi.bi-linkedin.text-dark.mx-1(href="#") 
                                a.i.bi.bi-instagram.text-dark.mx-1(href="#") 
        section.p-5
            .container
                .row.g-4
                    .col-md
                        h2.text-center.mb-f Contact Info
                        ul.list-group.list-group-flush.lead
                            li.list-group-item
                                span.fw-bold Main Location: 
                                p.inline 50 Main st Boston, MA 
                            li.list-group-item
                                span.fw-bold Enrollment Phone: 
                                p.inline (333) 333-3333
                            li.list-group-item
                                span.fw-bold Student Phone: 
                                p.inline (333) 333-3333
                            li.list-group-item
                                span.fw-bold Enrollment Email: 
                                p.inline enroll@frontendbc.test 
                            li.list-group-item
                                span.fw-bold Student Email: 
                                p.inline student@frontendbc.test 
                    .col-md
                        div#map(style='width: 400px; height: 300px;')
        footer.p-5.bg-dark.text-white.text-center.position-relative
            .container
                p.lead Copyright &copy 2021 Frontend Bootcamp
                a.position-absolute.bottom-0.end-0.p-5(href="#") 
                    i.bi.bi-arrow-up-circle.h1

        .modal(tab="-1")
            .modal-dialog
                .modal-content
                    .modal-header
                        h5.modal-title Modal Title
                        button.btn-close(type="button" data-bs-dismiss="modal")
                    .modal-body
                        p.lead Fill Out this form and we will get back to you 
                        form
                            .mb-3
                                label.col-form-label(for="first-name") First Name:
                                input.form-control#first-name
                            .mb-3
                                label.col-form-label(for="last-name") Last Name:
                                input.form-control#last-name
                            .mb-3
                                label.col-form-label(for="email") Email:
                                input.form-control#email
                            .mb-3
                                label.col-form-label(for="phone") Phone:
                                input.form-control#phone
                    .modal-footer
                        button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
                        button.btn.btn-primary(type="button") Submit
    
        script(type="module" src="./assets/js/main.js")
        

